<%= form_for :binomial, url: binomials_path do |b| %>
	<% if @binomial.errors.any? %>
	  	<div id="error_explanation">
    		<h2><%= pluralize(@binomial.errors.count, "error") %> prohibited
      			this answer from being saved:</h2>
    		<ul>
    			<% @binomial.errors.full_messages.each do |msg| %>
      				<li><%= msg %></li>
    			<% end %>
    		</ul>
  		</div>
  	<% end %>
	<p>
		<%= b.label :trials %><br>
		<%= b.number_field :trials %>
	</p>
	<p>
		<%= b.label :successes %><br>
		<%= b.number_field :successes %>
	</p>
	<p>
		<%= b.label :chances %><br>
		<%= b.number_field :chances %>
	</p>
	<p>
		<%= b.submit %>
	</p>
<% end %>